name: Trigger Cloudflare Pages Rebuild

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger CF Pages rebuild (www.arcanist.sh)
        if: github.ref == 'refs/heads/main'
        run: curl -X POST "${{ secrets.CF_DEPLOY_HOOK_URL }}"
